*{
  padding: 0;
  margin: 0;
  border:0;
}
*,*:before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;} */
body{
  background-color:#d3ffff
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post{
  display: flex;
  padding: 15px;
  border: solid 2px teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  opacity: 0;
  transition: all 200ms ease-in;
  transform: translateX(-350px);
}
.post-enter-active {
  opacity: 1;
  transition: all 200ms ease-in;
  transform: translateX(0px);
}
.post-exit {
  opacity: 1;
  transition: all 200ms ease-in;
}
.post-exit-active {
  opacity: 0;
  transition: all 200ms ease-in;
  transform: translateX(-350px);
}
.post__btns{
  display: flex;
}
.navBar{
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #8de7e7;
  margin-bottom: 15px;
}
.navBar__links{
  margin-left: auto;
}
.navBar__links a {
  margin-right: 10px;
  color:teal;
  position: relative;
}
.navBar__links a::after {
  opacity: 0;
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: teal;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 500ms;
}
.navBar__links a:hover:after {
  opacity: 1;
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: teal;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}